# Atividade 03
Bianca Bonetti Nunes

### Importando a série temporal de interesse

In [23]:
# Importanto pacotes
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
#importando a planilha com dados
cwd = os.getcwd()
path = cwd+'\\Dados\\ES_planilhacompleta.csv'
print(path)
data = pd.read_csv(path,encoding='latin-1')
data.head()

C:\Users\BiaBN\OneDrive\Documentos\ENS410064\Dados\ES_planilhacompleta.csv

C:\Users\BiaBN\AppData\Local\Temp\ipykernel_17988\3387021123.py:5: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path,encoding='latin-1')

,Ano,Mes,Dia,Hora,Minuto,Estacao,Estacao.1,Poluente,Valor,Unidade,Tipo,Testacao
0,2023,1,1,0,30,Laranjeiras,ES_001,O3,29.89,ug/m3,Automatica,Referencia
1,2023,1,1,1,30,Laranjeiras,ES_001,O3,26.2,ug/m3,Automatica,Referencia
2,2023,1,1,2,30,Laranjeiras,ES_001,O3,20.27,ug/m3,Automatica,Referencia
3,2023,1,1,3,30,Laranjeiras,ES_001,O3,23.22,ug/m3,Automatica,Referencia
4,2023,1,1,4,30,Laranjeiras,ES_001,O3,21.53,ug/m3,Automatica,Referencia

### Filtrando os dados de uma só estação - A estação escolhida foi ES_001

In [30]:
laranjeiras = data.loc[(data['Estacao.1'] == 'ES_001')]  # Filtrando apenas a estação ES_001
laranjeiras.head()
#transformando a coluna Valor em float
laranjeiras['Valor'] = laranjeiras['Valor'].astype('float')
laranjeiras.dtypes

C:\Users\BiaBN\AppData\Local\Temp\ipykernel_17988\1591629292.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laranjeiras['Valor'] = laranjeiras['Valor'].astype('float')

Ano            int64
Mes            int64
Dia            int64
Hora           int64
Minuto         int64
Estacao       object
Estacao.1     object
Poluente      object
Valor        float64
Unidade       object
Tipo          object
Testacao      object
dtype: object

In [31]:
#checando se existem dados faltantes
print(np.sum(data.iloc[:].isna()))

Ano               0
Mes               0
Dia               0
Hora              0
Minuto            0
Estacao           0
Estacao.1         0
Poluente          0
Valor        182161
Unidade           0
Tipo              0
Testacao          0
dtype: int64

c:\users\biabn\onedrive\documentos\ens410064\pyenv\lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

In [33]:
#Criando um datetime
laranjeiras['datetime'] = pd.to_datetime(laranjeiras[['Ano', 'Mes', 'Dia', 'Hora', 'Minuto']].astype(str).agg('-'.join,axis =1), format = '%Y-%m-%d-%H-%M')
laranjeiras = laranjeiras.set_index("datetime")
laranjeiras.head()

,Ano,Mes,Dia,Hora,Minuto,Estacao,Estacao.1,Poluente,Valor,Unidade,Tipo,Testacao
datetime,,,,,,,,,,,,
2023-01-01 00:30:00,2023,1,1,0,30,Laranjeiras,ES_001,O3,29.89,ug/m3,Automatica,Referencia
2023-01-01 01:30:00,2023,1,1,1,30,Laranjeiras,ES_001,O3,26.20,ug/m3,Automatica,Referencia
2023-01-01 02:30:00,2023,1,1,2,30,Laranjeiras,ES_001,O3,20.27,ug/m3,Automatica,Referencia
2023-01-01 03:30:00,2023,1,1,3,30,Laranjeiras,ES_001,O3,23.22,ug/m3,Automatica,Referencia
2023-01-01 04:30:00,2023,1,1,4,30,Laranjeiras,ES_001,O3,21.53,ug/m3,Automatica,Referencia

In [35]:
# Selecionando somente os dados importantes para minha análise
laranjeiras = laranjeiras[['Poluente','Valor', 'Unidade', 'Tipo', 'Testacao']]
laranjeiras

                    Poluente  Valor Unidade        Tipo    Testacao
datetime
2023-01-01 00:30:00       O3  29.89   ug/m3  Automatica  Referencia
2023-01-01 01:30:00       O3  26.20   ug/m3  Automatica  Referencia
2023-01-01 02:30:00       O3  20.27   ug/m3  Automatica  Referencia
2023-01-01 03:30:00       O3  23.22   ug/m3  Automatica  Referencia
2023-01-01 04:30:00       O3  21.53   ug/m3  Automatica  Referencia
...                      ...    ...     ...         ...         ...
2023-12-31 19:30:00     MP25   1.00   ug/m3  Automatica  Referencia
2023-12-31 20:30:00     MP25   0.80   ug/m3  Automatica  Referencia
2023-12-31 21:30:00     MP25   0.60   ug/m3  Automatica  Referencia
2023-12-31 22:30:00     MP25   0.50   ug/m3  Automatica  Referencia
2023-12-31 23:30:00     MP25   0.90   ug/m3  Automatica  Referencia

[70080 rows x 5 columns]

### Fazendo graficos de linha para cada poluente
usar um loop de for