# TÃ³picos especiais: Python in Environmental Applications
## Aula 01

In [3]:
import pandas as pd
dados_ES = pd.read_csv(r"C:\Users\BiaBN\OneDrive\Documentos\ENS410064\Dados\ES_planilhacompleta.csv",encoding='latin1')

C:\Users\BiaBN\AppData\Local\Temp\ipykernel_9876\3034334012.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_ES = pd.read_csv(r"C:\Users\BiaBN\OneDrive\Documentos\ENS410064\Dados\ES_planilhacompleta.csv",encoding='latin1')

In [11]:
df = pd.DataFrame(dados_ES)
print(df)

         Ano  Mes  Dia  Hora  Minuto                        Estacao Estacao.1  \
0       2023    1    1     0      30                    Laranjeiras    ES_001
1       2023    1    1     1      30                    Laranjeiras    ES_001
2       2023    1    1     2      30                    Laranjeiras    ES_001
3       2023    1    1     3      30                    Laranjeiras    ES_001
4       2023    1    1     4      30                    Laranjeiras    ES_001
...      ...  ...  ...   ...     ...                            ...       ...
919795  2023   12   31    19      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919796  2023   12   31    20      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919797  2023   12   31    21      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919798  2023   12   31    22      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919799  2023   12   31    23      30  EMQAr-Sul 6 - Anchieta Centro    ES_015

       Poluente   Valor Unidade        Tipo    Testacao
0            O3   29.89   ug/m3  Automatica  Referencia
1            O3    26.2   ug/m3  Automatica  Referencia
2            O3   20.27   ug/m3  Automatica  Referencia
3            O3   23.22   ug/m3  Automatica  Referencia
4            O3   21.53   ug/m3  Automatica  Referencia
...         ...     ...     ...         ...         ...
919795       CO  416.86   ug/m3  Automatica  Referencia
919796       CO   418.5   ug/m3  Automatica  Referencia
919797       CO  406.08   ug/m3  Automatica  Referencia
919798       CO  398.83   ug/m3  Automatica  Referencia
919799       CO  412.04   ug/m3  Automatica  Referencia

[919800 rows x 12 columns]

In [14]:
print(df.head())
from datetime import datetime
# Criar uma coluna de datetime a partir das colunas existentes
df['Data'] = df.apply(lambda row: datetime(
    year=row['Ano'], 
    month=row['Mes'], 
    day=row['Dia'], 
    hour=row['Hora'], 
    minute=row['Minuto']
), axis=1)

print(df)

    Ano  Mes  Dia  Hora  Minuto      Estacao Estacao.1 Poluente  Valor  \
0  2023    1    1     0      30  Laranjeiras    ES_001       O3  29.89
1  2023    1    1     1      30  Laranjeiras    ES_001       O3   26.2
2  2023    1    1     2      30  Laranjeiras    ES_001       O3  20.27
3  2023    1    1     3      30  Laranjeiras    ES_001       O3  23.22
4  2023    1    1     4      30  Laranjeiras    ES_001       O3  21.53

  Unidade        Tipo    Testacao
0   ug/m3  Automatica  Referencia
1   ug/m3  Automatica  Referencia
2   ug/m3  Automatica  Referencia
3   ug/m3  Automatica  Referencia
4   ug/m3  Automatica  Referencia
         Ano  Mes  Dia  Hora  Minuto                        Estacao Estacao.1  \
0       2023    1    1     0      30                    Laranjeiras    ES_001
1       2023    1    1     1      30                    Laranjeiras    ES_001
2       2023    1    1     2      30                    Laranjeiras    ES_001
3       2023    1    1     3      30                    Laranjeiras    ES_001
4       2023    1    1     4      30                    Laranjeiras    ES_001
...      ...  ...  ...   ...     ...                            ...       ...
919795  2023   12   31    19      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919796  2023   12   31    20      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919797  2023   12   31    21      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919798  2023   12   31    22      30  EMQAr-Sul 6 - Anchieta Centro    ES_015
919799  2023   12   31    23      30  EMQAr-Sul 6 - Anchieta Centro    ES_015

       Poluente   Valor Unidade        Tipo    Testacao                Data
0            O3   29.89   ug/m3  Automatica  Referencia 2023-01-01 00:30:00
1            O3    26.2   ug/m3  Automatica  Referencia 2023-01-01 01:30:00
2            O3   20.27   ug/m3  Automatica  Referencia 2023-01-01 02:30:00
3            O3   23.22   ug/m3  Automatica  Referencia 2023-01-01 03:30:00
4            O3   21.53   ug/m3  Automatica  Referencia 2023-01-01 04:30:00
...         ...     ...     ...         ...         ...                 ...
919795       CO  416.86   ug/m3  Automatica  Referencia 2023-12-31 19:30:00
919796       CO   418.5   ug/m3  Automatica  Referencia 2023-12-31 20:30:00
919797       CO  406.08   ug/m3  Automatica  Referencia 2023-12-31 21:30:00
919798       CO  398.83   ug/m3  Automatica  Referencia 2023-12-31 22:30:00
919799       CO  412.04   ug/m3  Automatica  Referencia 2023-12-31 23:30:00

[919800 rows x 13 columns]

In [15]:
print(df[['Ano', 'Mes', 'Dia', 'Hora', 'Minuto', 'Data']].head())

    Ano  Mes  Dia  Hora  Minuto                Data
0  2023    1    1     0      30 2023-01-01 00:30:00
1  2023    1    1     1      30 2023-01-01 01:30:00
2  2023    1    1     2      30 2023-01-01 02:30:00
3  2023    1    1     3      30 2023-01-01 03:30:00
4  2023    1    1     4      30 2023-01-01 04:30:00

In [17]:
df = df.set_index(df['Data'])

In [18]:
df

,Ano,Mes,Dia,Hora,Minuto,Estacao,Estacao.1,Poluente,Valor,Unidade,Tipo,Testacao,Data
Data,,,,,,,,,,,,,
2023-01-01 00:30:00,2023,1,1,0,30,Laranjeiras,ES_001,O3,29.89,ug/m3,Automatica,Referencia,2023-01-01 00:30:00
2023-01-01 01:30:00,2023,1,1,1,30,Laranjeiras,ES_001,O3,26.2,ug/m3,Automatica,Referencia,2023-01-01 01:30:00
2023-01-01 02:30:00,2023,1,1,2,30,Laranjeiras,ES_001,O3,20.27,ug/m3,Automatica,Referencia,2023-01-01 02:30:00
2023-01-01 03:30:00,2023,1,1,3,30,Laranjeiras,ES_001,O3,23.22,ug/m3,Automatica,Referencia,2023-01-01 03:30:00
2023-01-01 04:30:00,2023,1,1,4,30,Laranjeiras,ES_001,O3,21.53,ug/m3,Automatica,Referencia,2023-01-01 04:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:30:00,2023,12,31,19,30,EMQAr-Sul 6 - Anchieta Centro,ES_015,CO,416.86,ug/m3,Automatica,Referencia,2023-12-31 19:30:00
2023-12-31 20:30:00,2023,12,31,20,30,EMQAr-Sul 6 - Anchieta Centro,ES_015,CO,418.5,ug/m3,Automatica,Referencia,2023-12-31 20:30:00
2023-12-31 21:30:00,2023,12,31,21,30,EMQAr-Sul 6 - Anchieta Centro,ES_015,CO,406.08,ug/m3,Automatica,Referencia,2023-12-31 21:30:00
2023-12-31 22:30:00,2023,12,31,22,30,EMQAr-Sul 6 - Anchieta Centro,ES_015,CO,398.83,ug/m3,Automatica,Referencia,2023-12-31 22:30:00
2023-12-31 23:30:00,2023,12,31,23,30,EMQAr-Sul 6 - Anchieta Centro,ES_015,CO,412.04,ug/m3,Automatica,Referencia,2023-12-31 23:30:00

In [19]:
df.describe()

,Ano,Mes,Dia,Hora,Minuto,Data
count,919800.0,919800.000000,919800.000000,919800.00000,919800.0,919800
mean,2023.0,6.526027,15.720548,11.50000,30.0,2023-07-02 12:00:00.000000512
min,2023.0,1.000000,1.000000,0.00000,30.0,2023-01-01 00:30:00
25%,2023.0,4.000000,8.000000,5.75000,30.0,2023-04-02 06:15:00
50%,2023.0,7.000000,16.000000,11.50000,30.0,2023-07-02 12:00:00
75%,2023.0,10.000000,23.000000,17.25000,30.0,2023-10-01 17:45:00
max,2023.0,12.000000,31.000000,23.00000,30.0,2023-12-31 23:30:00
std,0.0,3.447853,8.796252,6.92219,0.0,NaN